@tailwind base;
@tailwind components;
@tailwind utilities;

.ggg p {
  border: 1px solid black;
}
* {
  text-transform: uppercase;
}

@media print {
  @page {
    size: A4 landscape;
    margin: auto;
  }
}
